<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Rate Quotes By US!</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <style>
  body {
            background-color: #f3f3f3;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        h1 {
            font-weight: 300;
            font-size: 36px;
            letter-spacing: 0.5px;
            margin-bottom: 40px;
            color: #1d1d1f;
            text-align: center;
        }

        .login {
            width: 100%;
            max-width: 320px;
        }

        label {
            font-weight: 500;
            font-size: 16px;
            color: #1d1d1f;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            width: 100%;
            background-color: #1d1d1f;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            transition: background-color 0.3s ease;
            margin-top: 16px;
        }

        button[type="submit"]:hover {
            background-color: #555;
        }

        a {
            display: inline-block;
            background-color: #0070c9;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            padding: 10px 20px;
            margin: 20px 0;
            border-radius: 6px;
            transition: background-color 0.
        }
  </style>
  <h1>Fuel Rate Prediction</h1>
  <form action="/login" method="POST">
  <div class="login">
    <% if(locals.message){%>
      <div class="alert alert-danger">
        <%=locals.message%>
      </div>
      <% }%>
  <strong><label for="username"<b>Username: </b></label></strong><br>
  <input type="text" placeholder="Enter Username" name="username" id="username" required>
  <br><br>
  <strong><label for="password"<b>Password: </b></label></strong><br>
  <input type="password" placeholder="Enter Password" name="password" id="password" required>
  <br><br>
  <button type="submit">Login</button>
  <br><br>
  <input type="checkbox" id="check"> 
  <span>Remember me</span>
  <br><br>
  </form>
  <a href="/register">Create Account</html>
  </div>
  </body>
</html>
